[coverage:run]
source = .

omit=
    .venv/*
    manage.py
    */migrations/*
    */tests/*
    */tests.py
    */settings/*
    *apps.py
    *wsgi.py
    *urls.py

[coverage:report]
fail_under = 100
show_missing = True
skip_covered = True