{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block header %}
<h1>{{ title|capfirst }}</h1>
{% endblock header%}

{% block content %}
<h2>Add Question</h2>

<div class="alert alert-info" role="alert">
    Check the checkbox if correct answer.
</div>

<div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm submit-btn ">
    </form>
</div>
{% endblock content %}