{% extends 'app/base.html' %}
{% load humanize %}
{% load static %}

{% block header %}
<h1>Quiz</h1>
{% endblock header%}

{% block content %}
<div>
    <div class="quizzes-card-div">
        {% for quiz in quizzes %}
        <div class="card quiz-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.title|capfirst }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ quiz.author.username }}</h6>
                <p class="card-text">
                    Questions : {{ quiz.questions.count }}<br/>
                    Tests : {{ quiz.quiz_test_results.count }}
                </p>
                {% if quiz.questions.count > 0 %}
                <a href="{% url 'app:QuizTest' quiz_id=quiz.id %}" class="btn btn-primary btn-sm">Take Test</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <small>{{ quiz.modified|naturaltime }}</small>
            </div>

        </div>
        <br/>
        {% empty %}
        <div class="alert alert-info col-12" role="alert">
            No quizzes published yet.
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}