{% extends 'app/base.html' %}
{% load humanize %}
{% load static %}

{% block header %}
<h1>Quiz</h1>
{% endblock header%}

{% block content %}
<div>
    {% if quizzes|length == 0 %}
    <div class="alert alert-info col-12" role="alert">
        No quizzes published yet.
    </div>
    {% endif %}
    <div class="mb-2">
        <a class="btn btn-primary btn-sm" href="{% url 'app:QuizCreate' %}">Add Quiz</a>
    </div>
    <div class="quizzes-card-div">
        {% for quiz in quizzes %}
        <div class="card quiz-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.title|capfirst }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ quiz.author.username }}</h6>
                <p class="card-text">
                    Questions : {{ quiz.questions.count }}<br/>
                    Tests : {{ quiz.quiz_test_results.count }}
                </p>
                {% if quiz.is_published %}
                <button class="btn btn-sm btn-success">Published</button>
                {% else %}
                <button class="btn btn-sm btn-warning">Not Published</button>
                {% endif %}
                <a href="{% url 'app:QuizDetail' quiz_id=quiz.id %}" class="card-link btn btn-primary btn-sm">Detail</a>
            </div>
            <div class="card-footer text-muted">
                <small>{{ quiz.modified|naturaltime }}</small>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>

    {% if quizzes > 0%}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    {% endif %}
</div>
{% endblock content %}