<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'app:Index' %}">Quiz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'Index' %}active{% endif %}">
                <a class="nav-link  " href="{% url 'app:Index' %}">Home</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'QuizCreate' %}active{% endif %}">
                <a class="nav-link" href="{% url 'app:QuizCreate' %}">Create Quiz</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'QuizList' %}active{% endif %}">
                <a class="nav-link" href="{% url 'app:QuizList' %}">Quiz Test</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item {% if request.resolver_match.url_name == 'QuizResultList' %}active{% endif %}">
                <a class="nav-link" href="{% url 'app:QuizResultList' %}">Results</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <span class="navbar-text">{{ request.user.username }}</span>
            <li class="nav-item {% if request.resolver_match.url_name == 'Logout' %}active{% endif %}">
                <a class="nav-link" href="{% url 'auth_app:Logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.resolver_match.url_name == 'Login' %}active{% endif %}">
                <a class="nav-link" href="{% url 'auth_app:Login' %}">Login</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'SignUp' %}active{% endif %}">
                <a class="nav-link" href="{% url 'auth_app:SignUp' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>